{% extends 'main.html' %}

{% block content %}
    <style>
        .about-section {
            width: 80%;
            margin: 50px auto;
            text-align: center;
            font-family: Arial, sans-serif;
        }
            
        .about-section h1 {
            font-size: 36px;
            margin-bottom: 30px;
            color: #333;
        }
            
        .about-section h2 {
            font-size: 24px;
            margin-top: 50px;
            margin-bottom: 30px;
            color: #333;
        }

        .about-section p {
            font-size: 18px;
            line-height: 1.5;
            color: #555;
            margin-bottom: 30px;
        }
                
        .about-section ul {
            list-style: none;
            padding: 0;
        }
                
        .about-section li {
            font-size: 18px;
            margin-bottom: 10px;
        }
    </style>

    <div class="about-section">
        <h1>About Quiz App</h1>
        <p>Welcome to our quiz app, a dynamic platform designed to empower users to improve their skills and knowledge through a series of interactive quizzes. Our app offers a diverse range of quizzes on various subjects, enabling users to choose their areas of interest and challenge themselves.</p>

        <h2>Why Use Our App</h2>
        <p>With our user-friendly interface, navigating through the quiz categories and selecting quizzes is effortless. Each quiz is thoughtfully crafted to engage users and provide an enjoyable learning experience. Whether you're a student looking to strengthen your academic knowledge, a professional aiming to expand your expertise, or an enthusiastic learner seeking to explore new topics, our quiz app has something for everyone.</p>
        <p>As you progress through the quizzes, our app keeps track of your scores and performance. Detailed scorecards and feedback help you understand your strengths and areas for improvement. You can monitor your progress over time, compare scores with others, and strive for better results with each attempt.</p>
        <p>Our quiz app encourages a competitive spirit through leaderboards, where you can challenge your friends or compete with other users. Engage in healthy competition, share your achievements, and celebrate your progress together.</p>
        <p>Additionally, our app provides personalized recommendations based on your quiz history and performance, suggesting quizzes that align with your interests and areas of focus. This tailored approach ensures a customized learning experience for every user.</p>
        <p>Start your journey of self-improvement and knowledge enhancement today with our quiz app. Sharpen your skills, expand your horizons, and embrace the joy of learning through interactive quizzes.</p>        
    </div>
{% endblock %}