{% extends 'main.html' %}

{% block content %}
    <section class="quiz-introduction">
        <div class="container">
            <h2>Welcome to MyQuiz App</h2>
            <p>Discover your knowledge and test your skills with MyQuiz App, the ultimate quiz app! Choose from a variety of subjects, including programming, science, and mathematics, and challenge yourself with a series of multiple-choice questions. Keep track of your progress and scores. Whether you're looking to learn something new or just have fun, MyQuiz App is the perfect choice for all quizzers!</p>
            <div class="d-grid quiz-start">
                <a href="{% url 'mainmenu' %}" class="btn btn-primary btn-lg">Start</a>
            </div>
        </div>
    </section>
{% endblock %}